= render :partial => "menu/category"
#page.grid_9
  %h1==#{@category.title}
  - if @category.banner_file_name
    = image_tag @category.banner.url(:banner)
  =raw(@category.body)
  %h2 Wines
  - @wines.each do |wine|
    %div{:id => [wine.url], :class => "shopitem"}
      .productimage
        - if wine.image_file_name
          =link_to image_tag(wine.image.url(:image)),"/wines/#{wine.url}"
      .producttext
        =raw(truncate(wine.body, :length => 40))
        =link_to t(:readmore), "/wines/#{wine.url}"
